.vscode/c_cpp_properties.json
.vs/slnx.sqlite
.vs/where-am-i-cpp/v16/Browse.VC.db
.vs/where-am-i-cpp/v16/Browse.VC.db-shm
.vs/where-am-i-cpp/v16/Browse.VC.db-wal
.vs/where-am-i-cpp/v16/Browse.VC.opendb
.vs/where-am-i-cpp/v16/ipch/AutoPCH/2b2837a0b108cea1/MAIN.ipch
.vs/where-am-i-cpp/v16/ipch/AutoPCH/e54ef1d5edca4ad/GLWIFIPOINTS.ipch
.vs/ProjectSettings.json
